{% extends 'base.html' %}

{% block title %}
    Группы - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 mb-5">
          <a href="{% url 'group:add' %}" class="btn btn-primary btn-block">
            <i class="fas fa-plus"></i> Создать группу
          </a>
        </div>
      </div>
    </div>

<div class="container">
    <div class="row"> <!--d-flex flex-column-->

    {% for object in objects_list %}

        {% include 'group/includes/card-ext.html' %}

    {% endfor %}

    </div> <!-- /row -->
  </div> <!-- /container -->
{% endblock %}









