{% extends 'base.html' %}

{% block title %}
    Участники - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto">
          <form class="input-group" action="{{ person_home_url }}
          ">
            <input name="search_person" type="text" class="form-control" placeholder="Регистрозависимый поиск">
            <div class="input-group-append">
              <button class="btn btn-primary">Найти</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 mb-5">
          <a href="{% url 'person:add' %}" class="btn btn-primary btn-block">
            <i class="fas fa-plus"></i> Создать участника
          </a>
        </div>
      </div>
    </div>


    <div class="container">
        <div class="row jumbotron m-0 d-flex justify-content-center">

        {% for object in objects_list %}

        <div class="d-inline-block lead pb-3">

            {{ object.name }}

            <a class="pr-3 text-decoration-none" href="{% url 'person:delete' pk=object.pk %}">
                &#10060;
                <!--&times;-->
            </a>

        </div>

        {% endfor %}

        </div>
    </div>

{% endblock %}







