

<div class="col-md-3 mb-4">

 <div class="card-deck text-center">

    <div class="card shadow">

     <div class="card-header bg-dark">
        <a href="{% url 'group:detail' pk=object.pk %}" class="text-dark">
            <h2 class="text-center text-white">
                {{ object.name }}
            </h2>
        </a>
     </div>

     <div class="card-body">
         <ul class="list-unstyled">
             <li class="lead">
                 <a href="{% url 'membership:home' %}" class="text-dark">Текущий состав</a>
             </li>
             <li class="lead">
                 <a href="{% url 'person:home' %}" class="text-dark">Участники</a>
             </li>
         </ul>

        <p class="text-center pt-3">
            <a class="btn btn-outline-secondary btn-block" href="{% url 'membership:home' %}" role="button">
                Подробнее &raquo;
            </a>
        </p>
     </div>

    </div>

 </div>

</div>