{% load static %}
{% url 'home' as home_url %}
{% url 'group:home' as group_home_url %}
{% url 'person:home' as person_home_url %}
{% url 'membership:home' as membership_home_url %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css"
          rel="stylesheet" />
    <title>{% block title %} Django Rock Club {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
       <!--<img src="https://img.icons8.com/color/24/000000/python.png"/>-->
      <i class="fas fa-headphones" aria-hidden="true"></i>
      Rock Club
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
       <a href="admin/" class="badge badge-secondary {% if request.path != home_url %} invisible {% endif %}">Admin</a>
    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav ml-auto pr-5">
        <li class="nav-item {% if request.path == group_home_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'group:home' %}">Группы</a>
        </li>
        <li class="nav-item {% if request.path == person_home_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'person:home' %}">Участники</a>
        </li>
        <li class="nav-item {% if request.path == membership_home_url %} active {% endif %}">
          <a class="nav-link" href="{% url 'membership:home' %}">Составы</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#" id="dropAdd"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
                Создать
          </a>
          <div class="dropdown-menu" aria-labelledby="dropAdd">
            <a href="{% url 'group:add' %}" class="dropdown-item">Создать группу</a>
            <a href="{% url 'person:add' %}" class="dropdown-item">Создать участника</a>
            <a href="{% url 'membership:add' %}" class="dropdown-item">Создать состав</a>
          </div>
        </li>

             <!--Авторизация-->
        <li class="nav-item">
           {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="fa fa-user pr-1"></i>
              Выйти
            </a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fa fa-user pr-1"></i>
              Войти
            </a>
            {% endif %}
        </li>
      </ul>
      <form class="{% if request.path != group_home_url %} invisible {% endif %}
                   form-inline my-2 my-lg-0" action="{{ group_home_url }}">
        <input class="form-control mr-sm-2"
               type="search" placeholder="Искать группу"
               aria-label="Search" name="search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Поиск</button>
    </form>
    </div>
  </div>
</nav>

     <!--Header-->
    <header class="p-0 bg-primary text-white">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 offset-2">

          {% if request.path == membership_home_url %}
            <h1 class="p-0 bg-primary text-white">
              <i class="fa fa-users"></i>
                  Текущие составы
            </h1>
          {% endif %}

          {% if request.path == person_home_url %}
            <h1 class="p-0 bg-primary text-white">
              <i class="fa fa-user"></i>
                  Участники
            </h1>
          {% endif %}

          {% if request.path == group_home_url %}
            <h1 class="p-0 bg-primary text-white">
              <i class="fa fa-music"></i>
                  Группы
            </h1>
          {% endif %}

        </div>
      </div>
    </div>
  </header>

     <!--  Success_message-->
  <div class="container my-4">
		<div class="row">
			<div class="col-md-8 mx-auto">
			  {% if messages %}
          {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger messages">
                <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                Внимание!  {{ message }}<br/>
                </span>
              </div>
            {%else %}
              <div class="alert alert-success messages">
                <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}<br/>
                </span>
              </div>
            {% endif %}
          {% endfor %}
			  {% endif %}
			</div>
		</div>
     </div>


     {% block content %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

     <!--Select-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
      $(document).ready(function() {
        $('.js-example-basic-single').select2();
      });
    </script>

  </body>
</html>