{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="jumbotron m-auto">
            <div class="container">
              <h1 class="display-3 head">Django Rock Club!</h1>
              <p class="lead text-center pt-5">Rock Around the Clock</p>
              <p class="text-center pt-5">
                  <a class="btn btn-lg text-white" href="admin/" role="button"
                     style="background-color: #407690">
                      Admin &raquo;
                  </a>
              </p>
            </div>
       </div>

    </div>
</div>

{% endblock %}







