{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="jumbotron m-auto">
            <div class="container">
              <h1 class="display-4 home-title text-info font-weight-bold">Django Rock Club!</h1>
              <p class="h4 text-center text-muted pt-5">Rock Around the Clock</p>
              <p class="text-center pt-5">
                  <a class="btn btn-outline-secondary btn-lg" href="group/" role="button">
                      Добро пожаловать! &raquo;
                  </a>
              </p>
            </div>
       </div>

    </div>
</div>

{% endblock %}







